{% extends 'admin/base.html.twig' %}

{% block title %}Edit Country{% endblock %}

{% block content %}
    <h1>Edit Country</h1>

    {{ include('admin/country/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('country_index') }}">back to list</a>

    {{ include('admin/country/_delete_form.html.twig') }}
{% endblock %}
