{% extends 'admin/base.html.twig' %}

{% block title %}Edit Employer{% endblock %}

{% block content %}
    {{ parent() }}

    <h1>Edit Employer</h1>

    {{ include('employer/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info" href="{{ path('employer_index') }}">Return to list</a>

    {{ include('employer/_delete_form.html.twig') }}
{% endblock %}
