{% extends 'base.html.twig' %}

{% block title %}New Employer{% endblock %}

{% block content %}
    <h1>Create new Employer</h1>

    {{ include('employer/_form.html.twig') }}

    <a target="_blank" href="{{ path('employer_index') }}">Return to list</a>
{% endblock %}
