{% extends 'base.html.twig' %}
{% block title %} Employer login {% endblock title %}

{% block content %}
    <div class="row pt-5">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                     <form method="POST">
                         <div class="form-group">
                             <label for="email">Email </label>
                             <input type="email" name="email" placeholder="email" class="form-control" >
                         </div>
                         <div class="form-group">
                             <label for="password">Password </label>
                             <input type="password" name="password" placeholder="password" class="form-control" >
                         </div>
                           <div class="form-group">
                             <input type="submit" name="Submit" value="Login please" class="btn btn-success" >
                         </div>

                     </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}