</div>
</div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script>

    $("input.datetime").flatpickr({
        altInput: true,
        altFormat: "j-F-Y",
        defaultDate: "2020-11-22 12:00:00",
        time_24hr: true,
        enableTime: false,
        noCalendar: false,
        dateFormat: "Y-m-d",
        minuteIncrement: 15
        //minDate: "today",
    });

</script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            'pageLength': 100,
            "order": [[8, 'desc']]
        });
    });
</script>
