<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <meta name="viewport" content="width = device - width, initial-scale = 1.0">
        <meta charset="UTF-80">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <title>{% block title %}{% endblock %}-template</title>
    {% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
{% block header %}
    {{ include('Employer/header.html.twig') }}
{% endblock %}
<div class="container"> {% block content %}{% endblock %} </div>
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
</body>

</html>