{% extends 'admin/base.html.twig' %}

{% block title %}New Candidates{% endblock %}

{% block content %}
    <h1>Create new Candidates</h1>

    {{ include('candidates/_form.html.twig') }}

    <a class="btn btn-outline-info btn-s
" href="{{ path('candidates_index') }}">Return to list</a>
{% endblock %}
