{% extends 'admin/base.html.twig' %}

{% block title %}Edit Resort{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>Edit Resort</h1>

    {{ include('admin/resort/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn-outline-success" href="{{ path('resort_index') }}">Return to list</a>

    {{ include('admin/resort/_delete_form.html.twig') }}
{% endblock %}
